* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  color: rgb(61, 61, 61);
}
h1,
h2,
h3 {
  color: #fff;
  letter-spacing: 00.8px;
}
h1 {
  letter-spacing: 1px;
  word-spacing: 1px;
  font-size: 48px;
  font-weight: 600;
}

h2 {
  margin: 40px 0px;
  font-size: 30px;
  font-weight: 500;
}
h3 {
  margin: 20px 0px;
  font-size: 16px;
  font-weight: 400;
}

.nav-bar {
  height: max-content;
  display: flex;
  width: 100%;
  padding: 10px 0px 10px 0px;
}
.logo img {
  margin-left: 40px;
  max-height: 35px;
}
.nav-links {
  position: absolute;
  flex: 1;
  right: 30px;
}
.nav-links ul {
  display: flex;
  flex-direction: row;
}

.nav-links ul li {
  list-style: none;
}
.nav-links ul a {
  margin: 0px 0px 0px 24px;
  padding: 8px 0px;
  font-size: 16px;

  text-decoration: none;
  font-weight: 500;
  letter-spacing: 0.8px;
}
#nav-button {
  color: #fff;
  font-size: 16px;
  height: 40px;
  width: 160px;
  margin: 0px 0px 0px 24px;
  padding: 8px 40px;
  border: transparent;
  border-radius: 5px;
  font-weight: 500;
  background-color: #ff5a43;
  outline: 0;
}
.gradient-one {
  width: 100%;
  height: 80vh;
  background: rgb(185, 50, 78);
  background: linear-gradient(
    90deg,
    rgba(185, 50, 78, 1) 0%,
    rgba(162, 52, 132, 1) 50%,
    rgba(140, 53, 182, 1) 100%
  );
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  position: relative;
  display: grid;
  grid-template-columns: 50% 50%;
}

.hero-image img {
  position: absolute;
  right: 250px;
  bottom: 0px;
  max-width: 500px;
}
#book-now {
  height: max-content;
  width: max-content;
  color: #fff;
  font-size: 16px;
  padding: 12px 40px;
  border: transparent;
  border-radius: 3px;
  font-weight: 600;
  background-color: #ff5a43;
  outline: 0;
  opacity: 1;
}

.title {
  margin-top: 140px;
  margin-left: 15vh;
}
#search-bar {
  outline: #fff;
  background-color: #fff;
  border-radius: 3px;
  outline: 0;
  display: inline-flex;
}
#search-bar img {
  height: 24px;
  width: 24px;
}
#search-bar div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
#search-bar input {
  width: max-content;
  font-size: 16px;
  padding: 15px 60px 12px 5px;
  letter-spacing: 0.8px;
  border: 1px solid #fff;
  border-radius: 3px;
  outline: 0;
  border-left: 1.5px solid rgb(218, 218, 218);
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
}
.forms ul {
  display: flex;
  flex-direction: row;
}
.forms ul li {
  margin-right: 10px;
  list-style: none;
}
.icon {
  color: rgb(153, 153, 153);
  margin-right: 5px;
  text-align: center;
}
.indian-flag {
  margin-left: 15px;
  width: 15px;
}
.container-1 {
  height: max-content;
  background-color: #fff6f5;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-self: center;
  padding-bottom: 7px;
}
.scholarship-card {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: max-content;
  width: max-content;
  position: relative;
  margin: 90px 0px 50px 0px;
  border-radius: 8px;
  box-shadow: 2px 2px 16px #dfdfdf;
}
.left-section {
  padding: 20px 0px;
  padding-right: 5px;
  background-color: white;
}
.img-container {
  position: relative;
  background-color: #ffedeb;
  border-radius: 0px 90px 90px 0px;
}
.left-section img {
  position: relative;
  max-width: 350px;
  bottom: 0px;
  top: 5px;
  left: 40px;
}
.right-section {
  padding: 20px 40px;
}
.line-1 {
  color: rgb(63, 63, 63);
  font-size: 24px;
  font-weight: 600;
  margin: 10px 0px;
}
.line-2 {
  color: rgb(114, 114, 114);
  font-size: 20px;
  font-weight: 500;
  margin: 15px 0px;
}
.title-text {
  font-size: 40px;
  font-weight: 700;
  margin: 40px 0px;
}
.teacher-video {
  display: flex;
  flex-direction: row;
  margin-bottom: 50px;
}
.teacher-video video {
  background-color: #fff;
  margin: 0px 70px;
  border-radius: 12px;
  border-top: -2px;
  outline: none;
}
.teacher-video ul li {
  text-decoration: none;
  list-style: none;
}
.teacher-video .name {
  margin: 25px 0px 5px 0px;
  text-align: center;
  font-size: 24px;

  font-weight: 600;
  letter-spacing: 0.7px;
}
.teacher-video .desc {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  color: rgb(95, 95, 95);
}
.container-1-bottom {
  height: 50px;
  width: 100%;
  background-color: #fff6f5;
  border-bottom-left-radius: 60%;
  border-bottom-right-radius: 60%;
  margin-bottom: 30px;
}
.container-1-top {
  height: 50px;
  width: 100%;
  background-color: #fff6f5;
  border-top-left-radius: 60%;
  border-top-right-radius: 60%;
}
.container-2 {
  height: max-content;

  background-color: #fff;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-self: center;
}
.rounded-bar {
  background-color: #ffedeb;
  border-radius: 50px;
}
.rounded-bar ul {
  list-style: none;
  display: inline-flex;
  margin: 4px 40px;
}
.rounded-bar ul p {
  font-size: 18px;
  font-weight: 500;
  color: rgb(100, 100, 100);
}
.rounded-bar .extra {
  background-color: #ffbab0;
  padding: 10px 40px;
  border-radius: 50px;
  border: 2px solid white;
}
.horizontal-container-1,
.horizontal-container-2 {
  width: 100%;
  height: 200px;
  margin: 35px 0px;
  border-radius: 4px;
  box-shadow: 1px 1px 8px rgb(211, 211, 211);
}
.horizontal-container-1 {
  padding: 24px 30px;
  background-color: #fffaf2;
  border: 2px solid #fcdaac;
  display: grid;
  grid-template-columns: 2fr 1fr;
}
.horizontal-container-1 .right {
  justify-self: center;
  align-self: center;
  text-align: center;
}
.horizontal-container-1 .left {
  width: 100%;
  display: grid;
  grid-template-rows: 1fr 2fr;
}
.horizontal-container-1 .left ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-self: center;
  margin-top: 20px;
}
.horizontal-container-1 .left li {
  width: 100%;
  height: 100%;
  margin: 5px;
}
.h-c-t {
  font-size: 16px;
  font-weight: 600;
  margin: 5px 0px;
}
.h-c-d {
  font-size: 16px;
  font-weight: 400;
  margin: 5px 0px;
}
.horizontal-container-2 {
  padding: 24px 40px;
  background-color: #fdf9ff;
  border: 2px solid #f0d4ff;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.group {
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
}
.vertical-containers {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-between;
  grid-column-gap: 64px;
  margin: 10px 0px;
}

.v-c-1,
.v-c-2,
.v-c-3 {
  height: max-content;
  width: 100%;
  border-radius: 5px;
  box-shadow: 5px 5px 10px #ebebeb;
  padding: 22px 18px 12px 10px;
}
.v-c-1 {
  background-color: #f3fff8;
  border: 2px solid #a6d3a9;
  display: flex;
}
.v-c-2 {
  background-color: #fff5f7;
  border: 2px solid #ec687d;
}
.v-c-3 {
  background-color: #f4f0f6;
  border: 2px solid #b288e9;
}
.rounded-buttons {
  padding: 3px 12px;
  background-color: #1f95f2;
  width: max-content;
  border-radius: 25px;
  color: #fff;
  outline: none;
  font-size: 16px;
}
.v-c-1,
.v-c-2,
.v-c-3,
ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.v-c-1,
.v-c-2,
.v-c-3,
ul li {
  text-align: center;
  list-style: none;
  text-decoration: none;
}
.outline-button {
  color: #ff5a43;
  padding: 11px 24px;
  border: 1.5px solid #ff5a43;
  background-color: white;
  border-radius: 5px;
  outline: none;
}

.stats-section {
  width: 100%;
  margin: 60px 0px 100px 0px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chart-box {
  width: 65%;
  height: max-content;
  background-color: #fff;
  box-shadow: 0px 8px 10px 4px#ebebeb;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 70% 30%;
  margin: 40px 0px;
}
.chart-box img {
  max-width: 80%;
  margin: 45px 10px 45px 0px;
  justify-self: end;
  align-self: center;
}
.chart-box ul {
  margin: 30px 0px 0px 30px;
  justify-self: start;
}
.chart-box ul li {
  background-color: #fff;
  display: inline-flex;
  align-items: center;
  align-self: start;
}
.chart-box ul li p {
  font-size: 16px;
  margin: 15px 8px;
}
.data {
  height: 24px;
  width: 24px;
}
.reasons-section {
  height: max-content;
  width: 100%;
  background: linear-gradient(to bottom, rgb(242, 250, 255) 55%, #fff 45%);
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  margin-bottom: 60px;
}
.reason-cards {
  max-width: 72%;
  margin-bottom: 60px;
  height: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 35px;
  text-align: center;
}
.reason-cards div {
  background-color: #fff;
  box-shadow: 0px 5px 15px 4px#ebebeb;
  border-radius: 5px;
}
.reason-cards img {
  max-width: 250px;
  padding: 60px 10px 10px 10px;
  border-bottom-left-radius: 120px;
  border-bottom-right-radius: 120px;
}
.reason-cards p {
  margin: 10px 30px 30px 30px;
  font-size: 16px;
  font-weight: 500;
  word-spacing: 2px;
  color: #000;
  text-align: center;
}
.parents-section {
  height: max-content;

  width: 100%;
  background-color: #fff6f5;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#quotes-svg {
  max-width: 60px;
  position: absolute;
  top: -18px;
  left: 20px;
}
.parents-cards {
  height: max-content;
  display: grid;
  width: 75%;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 140px;
  margin: 10px 0px 40px 0px;
}
.parents-cards div {
  position: relative;
  background-color: #fff;
  box-shadow: 0px 4px 7px 1px#ebebeb;
  border-radius: 5px;
  margin: 20px 0px;
  padding: 60px 90px 60px 40px;
  display: inline-flex;
}
.parents-cards p {
  font-size: 16px;
  word-spacing: 4px;
  letter-spacing: 0.5px;
}
.parents-cards img {
  max-width: 200px;
  max-height: 200px;
  position: absolute;
  right: -90px;
  top: 30px;
}
#shape-2 {
  max-width: 100px;
  position: absolute;
  top: -18px;
  right: 20px;
}
#shape-3 {
  margin-top: 140px;
  max-width: 70px;
  position: absolute;
  bottom: 0px;
  left: -20px;
}
#shape-4 {
  margin-top: 190px;
  max-width: 100px;
  position: absolute;
  right: -20px;
}
.staff-section {
  margin: 20px 0px 60px;
  height: max-content;
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.staff-cards {
  max-width: 70%;
  margin-bottom: 50px;
  height: max-content;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 30px;
  text-align: center;
}
.staff-cards div {
  padding: 40px 20px;
  box-shadow: 0px 6px 10px 2px#ebebeb;
  border-radius: 10px;
}
.staff-cards img {
  max-width: 160px;
  max-height: 150px;
}
.company-logo-section {
  max-width: 100%;
  background-color: #f2faff;
  display: flex;
  justify-content: center;
}
.company-logo-section ul {
  max-width: 90%;
  display: inline-flex;
  flex-direction: row;
  padding: 75px 0px;
}

.company-logo-section img {
  margin: 0px 50px;
  max-width: 180px;
}
